# Superlikers API
API_KEY=
CAMPAIGN=3z
BASE_URL=https://api.superlikerslabs.com/v1

# WhatsApp Cloud API
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_APP_SECRET=

# Supabase
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
